@forward '../../../node_modules/element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #3378FF,
    ),
    'success': (
      'base': #2BD647,
    ),
    'warning': (
      'base': #E88B00,
    ),
    'error': (
      'base': #E94D2F,
    ),
    'danger': (
      'base': #E94D2F,
    ),
    'info': (
      'base': #969AA3,
    ),
    'blue': (
      'base': #497DF3,
    ),
    'up': (
      'base': #969,
    ),
    // 系统特例-售出，复检，报废，自用，闲置
    'sold': (
      'base': #2BD647,
    ),
    'check': (
      'base': #3378FF,
    ),
    'scrap': (
      'base': #969AA3,
    ),
    'selfuse': (
      'base': #2AD199,
    ),
    'free': (
      'base': #F724AB,
    ),
  ),
);
@import "../../../node_modules/element-plus/theme-chalk/src/index.scss";

:root {
  --el-button-hover-bg-color: #6E9EFF;
  --el-color-primary-light-3: #6E9EFF;
  --el-color-primary-dark-2: #305DD9;
  // --el-border-color-light: transparent;
}
.el-button {
  padding: 8px 16px;
}
.el-table {
  --el-table-header-bg-color: #F5F7FA;
  --el-table-header-text-color: #969AA3;
  --el-table-row-hover-bg-color: #F5F7FA;
  --el-table-text-color: #262729；
  thead th {
    height: 48px;
    padding: 0 !important;
  }
  tbody td {
    height: 56px;
    padding: 0 !important;
    &:hover {
      background-color: #F9FBFF;
      cursor: pointer;
    }
  }
}
// 固定列表头颜色
.el-table__header {
  .el-table-fixed-column--left,
  .el-table-fixed-column--right {
    background: #F5F7FA !important;
  }
}
.el-pagination {
  --el-pagination-button-bg-color: #EBEEF5;
  .el-select {
    padding-left: 12px;
  }
}
.el-table--border .el-table__cell {
  border-bottom: 1px solid #E6E9F0;
}
.el-dialog {
  --el-dialog-width: 500px;
  --el-dialog-border-radius: 4px;
  --el-dialog-padding-primary: 24px;
  overflow: hidden;
}
.el-dialog__footer {
  border-top: 1px solid #E6E9F0;
  padding: 12px 24px;
}
.el-dialog__header {
  padding: 16px 24px;
  border-bottom: 1px solid #E6E9F0;
  font-size: 16px;
  font-weight: 500;
  color: #262729;
  line-height: 24px;
  margin-right: 0;
}
.el-dialog__headerbtn { 
  top: 0;
}
.el-button + .el-button {
  margin-left: 8px;
}
.cell:empty::before {
  content: "--";
  color: gray;
}
//下拉多选打勾
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected:after{content:"";position:absolute;top:50%;right:20px;border-top:none;border-right:none;background-repeat:no-repeat;background-position:center;background-color:var(--el-color-primary);mask:url("data:image/svg+xml;utf8,%3Csvg class='icon' width='200' height='200' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M406.656 706.944L195.84 496.256a32 32 0 10-45.248 45.248l256 256 512-512a32 32 0 00-45.248-45.248L406.592 706.944z'%3E%3C/path%3E%3C/svg%3E") no-repeat;mask-size:100% 100%;-webkit-mask:url("data:image/svg+xml;utf8,%3Csvg class='icon' width='200' height='200' viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='currentColor' d='M406.656 706.944L195.84 496.256a32 32 0 10-45.248 45.248l256 256 512-512a32 32 0 00-45.248-45.248L406.592 706.944z'%3E%3C/path%3E%3C/svg%3E") no-repeat;-webkit-mask-size:100% 100%;transform:translateY(-50%);width:12px;height:12px}.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.is-disabled:after{background-color:var(--el-text-color-disabled)}

.el-radio-button__inner {
  padding: 5px 15px !important;
  line-height: 20px !important;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover,
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: #F5F7FA;
}

.el-breadcrumb__separator {
  font-weight: 400;
  color: #CED4E0;
}
.el-step {
  --el-text-color-placeholder: #F1F5FB;
}
.el-step__title,
.el-step__title.is-process,
.el-step__title.is-wait {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(0,0,0,0.45);
}
.el-step__title.is-success,
.el-step__title.is-finish {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(0,0,0,0.85);
}
.el-step__head.is-finish {
  .el-step__icon.is-text {
    background-color: #1890FF;
    color: #fff;
    border: 0;
  }
}
.el-step__head.is-wait {
  .el-step__icon.is-text {
    color: rgba(0,0,0,0.45);
  }
}
.el-drawer__header {
  font-size: 16px;
  font-weight: 500;
  color: #262729;
  padding: 16px 24px;
  border-bottom: 1px solid #E6E9F0;
  margin-bottom: 0;
}

.el-drawer__footer {
  text-align: right;
  border-top: 1px solid #E6E9F0;
  padding: 16px 24px;
}
.el-tabs__nav-wrap::after {
  background-color: transparent;
}

.el-tabs__header {
  margin: 0;
}

.el-date-editor,
.el-date-editor.el-input {
  --el-date-editor-width: 320px;
}
.el-range-editor.el-input__wrapper {
  --el-date-editor-width: 268px;
  --el-date-editor-daterange-width: 268px;
  width: 268px;
}

.el-upload-list {
  width: 300px;
}

.el-button--info.is-link { 
  --el-button-hover-text-color: rgba(0, 0, 0, 0.65);
  --el-button-active-text-color: rgba(0, 0, 0, 0.65);
}