# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
/dist
/cardlc
/vue3-base/node_modules
/vue3-base/dist
/vue3-main/node_modules
/vue3-main/dist
package-lock.json
deploy.bash
src/types/*
v0.1.1.0

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
